{% load static %}


<!DOCTYPE html>
<html lang="pl">


<head>
	<title>Artykuły - Trener Indywidualny Online - fitness, siłownia, zdrowe odrzywianie, chudnięcie i budowanie masy mięśniowej.</title>
	
	<meta name="description" content="Artykuły - fitness, siłownia, zdrowe odrzywianie, chudnięcie i budowanie masy mięśniowej.">
	<meta property="og:title" content="Artykuły - fitness, siłownia, zdrowe odrzywianie, chudnięcie i budowanie masy mięśniowej." />
	<meta property="og:description" content="Artykuły - fitness, siłownia, zdrowe odrzywianie, chudnięcie i budowanie masy mięśniowej." />
	<meta name="twitter:title" content="Artykuły - Trener Indywidualny Online" />
	<meta name="twitter:description" content="Artykuły - fitness, siłownia, zdrowe odrzywianie, chudnięcie i budowanie masy mięśniowej." />
	
	{% include 'includes/head.html' %}

</head>

<body>

<div class="wrapper">
	<header class="top--article">
		<a class="top__logo" href="https://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-big.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		<a class="top__logo-mobile" href="http://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-small.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		
		{% include 'includes/menu.html' %}

		
	</header>

	<div class="content">
		<div class="article-container">
			<div class="article-newsletter-container">
				<form class="article-newsletter" action="https://formspree.io/trenerindywidualnyonline@gmail.com" method="POST">
					<p class="article-newsletter-body">Zapisz się do Newslettera - bądź na bierząco.</p>
					<!-- <p class="article-newsletter-body article-newsletter-body--mobile">Newsletter</p> -->

					<input type="text" id="email_newsletter" name="email_newsletter" placeholder="E-mail" required>
					

					<!-- <p form-bottom">*Pola wymagane</p> -->
					<input class="button-article-newsletter" type="submit" value="Subskrybuj">
					
				</form>
			</div>
			<h1 class="article-header">Artykuły</h1>
			<div class="article-posts">
				{% for post in posts %}
					<div class="article-post-data">
						<div class="article-post-date">{{ post.publish|date:"d.m.Y" }}</div>
						<div class="article-post-data-social">{% include 'includes/social.html' %}</div>
						<div class="article-post-data-line"></div>
					</div>
					<div class="article-post-container">
						<a class="article-post-title" href="{{ post.get_absolute_url }}"><h2 class="title-link articles-post-title">{{ post.title }}</h2></a>
						{% if post.image %}<img class="article-post-image" src="{{ post.image.url }}" alt="">{% endif %}
						<p class="article-post-description">{{ post.description }}</p>
					</div>
				{% endfor %}
			</div>
		{% include 'includes/pagination.html' %}

		</div>

		{% include 'includes/footer.html' %}

	</div>
</div>


	
</body>
</html>