{% load static %}


<!DOCTYPE html>
<html lang="pl">


<head>
	<title>Trener Indywidualny Online - indywidualne plany dietetyczne i plany treningowe. Indywidualne rozpiski diety i treningów.</title>
	
	{% include 'includes/head.html' %}

</head>

<body>

<div class="wrapper">
	<header class="top">
		<a class="top__logo" href="http://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-big.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		<a class="top__logo-mobile" href="http://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-small.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		
		<div class="top__menu">
			<ul>
				<li><a href="#benefits">Zalety</a></li>
				<li><a href="#price">Cennik</a></li>
				<li><a href="#how">Jak To Działa?</a></li>
				<li><a href="#contact">Zamów</a></li>
				{% if blog %}<li><a href="{% url 'blog' %}">Blog</a></li>{% endif %}
			</ul>
		</div>

		<div class="top__container">
			<h1 class="top__container-slogan-main">Twój Trener Indywidualny - plany dietetyczne i treningowe.</h1>
			<h2 class="top__container-slogan-body">Nasz zespół ekspertów przygotowywuje indywidualne plany treningowe i dietetyczne przystosowany specjalnie pod Ciebie.</h1>
			<a class="button-main button-slogan" href="#contact">Zamów plan treningowy / dietetyczny</a>
		</div>
		
	</header>

	<div class="content">

		<div id="benefits" class="benefits">

			<div class="benefits-text-container">
				<h2 class="benefits__title">Zalety Trenera Indywidualnego Online</h2>
				
				<div class="benefits__body">
					<p class="benefits__body-text">Dostajesz dokładnie dopasowany do swojej sytuacji i potrzeb plan, który ma zapewnić spełnienie postawionych przez Ciebie celów. <a href="#contact"><img src="{% static 'img/arrow-blue.png' %}"></a>
					</p>
				</div>
			</div>


			<div class="benefits__benefit-a">
				<div class="benefits__benefit-a-img"></div>
				<div class="benefits__benefit-a-number">1</div>
				<h3 class="benefits__benefit-a-title">Dostępność do wiedzy eksperckiej</h3>
				<p class="benefits__benefit-a-text">Do naszego zespołu należą eksperci: <span class="text-highlight">trenerzy indywidualni, dietetycy kliniczni i sportowi, fizjoterapeuci.</span><br>

Masz dostęp do eksperta klasy ogólnopolskiej niezależnie od miejsca, w którym się obecnie znajdujesz - nie będziesz ograniczony do trenerów indywidualnych Twojego miejsca zamieszkania.
				</p>
			</div>

			<div class="benefits__benefit-b">
				<div class="benefits__benefit-b-img"></div>
				<div class="benefits__benefit-b-number">2</div>
				<h3 class="benefits__benefit-b-title">Możliwość swobodnego wyboru miejsca i czasu</h3>
				<p class="benefits__benefit-b-text">Korzystając z trenera indywidualnego online nie jesteś ograniczony do dokładnego terminarza i miejsca. <span class="text-highlight">Sam wybierasz godziny, które Tobie odpowiadają i miejsce, w którym najbardziej lubisz trenować.</span> Ta elastyczność pomaga walczyć z rutyną i stresem związanym z wyznaczonym z góry ścisłym harmonogramem czasowym.</p>
			</div>

			<div class="benefits__benefit-c">
				<div class="benefits__benefit-c-img"></div>
				<div class="benefits__benefit-c-number">3</div>
				<h3 class="benefits__benefit-c-title">Oszczędność pieniędzy</h3>
				<p class="benefits__benefit-c-text">Nie jest tajemnicą, że wynagrodzenia trenerów indywidualnych są obecnie na niebotycznych poziomach. <span class="text-highlight">Wierzymy, że płacenie wygórowanych stawek jest nie tylko nierozsądne ale i niekonieczne.</span> Trener Indywidualny Online może zaoferować porównywalną wartość za <span>frakcję ceny</span>.</p>
			</div>

			<div class="benefits__benefit-d">
				<div class="benefits__benefit-d-img"></div>
				<div class="benefits__benefit-d-number">4</div>
				<h3 class="benefits__benefit-d-title">Ciągła opieka</h3>
				<p class="benefits__benefit-d-text">Pracujesz z prawdziwym człowiekiem. W przeciwności do konkurencyjnych ofert, które są jedynie masową ofertą kierowaną dla masowego klienta gdzie większość “pomocy” jest generowana algorytmicznie (mimo, że starają się sprawiać inne wrażenie). <span class="text-highlight">U nas pracujesz z ekspertem, który kontroluje Twoje postępny i odpowiada na Twoje pytania.</span></p>
			</div>

		</div>
		
		<div id="price" class="price">
			<div class="price-table">

				<span class="price-th price-title">Cennik</span>
				<span class="price-th">Dieta + 
	plan treningowy</span>
				<span class="price-th">Dieta</span>
				<span class="price-th">Plan Treningowy</span>
				
				<span class="price-th-s th1">1 miesiąc<p>Abonament na 1 miesiąc</p></span>
				<span class="price-td tr1">89,99 zł</span>
				<span class="price-td tr1">69,99 zł</span>
				<span class="price-td tr1">59,99 zł</span>

				<span class="price-th-s th3">3 miesiące<p>Abonament na 3 miesiące</p></span>
				<span class="price-td tr3">159,99 zł<p>63,33 zł / mc</p></span>
				<span class="price-td tr3">159,99 zł<p>63,33 zł / mc</p></span>
				<span class="price-td tr3">139,99 zł<p>63,33 zł / mc</p></span>

				<span class="price-th-s th6">6 miesięcy<p>Abonament na 6 miesięcy</p></span>
				<span class="price-td tr6">299,99 zł<p>49,99 zł / mc</p></span>
				<span class="price-td tr6">249,99 zł<p>41,66 zł / mc</p></span>
				<span class="price-td tr6">199,99 zł<p>33,33 zł / mc</p></span>

				<span class="price-th-s th12">12 miesięcy<p>Abonament na 12 miesięcy</p></span>
				<span class="price-td tr12">479,99 zł<p>39,99 zł / mc</p></span>
				<span class="price-td tr12">399,99 zł<p>33,33 zł / mc</p></span>
				<span class="price-td tr12">349,99 zł<p>29,17 zł / mc</p></span>

			</div>
			
		</div>

		<div id="price" class="price-mobile">
			<div class="price-mobile-table">
				<span class="price-th price-title">Cennik</span>
				<span class="price-th">Dieta + 
	plan treningowy</span>

				<span class="price-th-s th1">1 miesiąc<p>Abonament na 1 miesiąc</p></span>
				<span class="price-td tr1">89,99 zł</span>

				<span class="price-th-s th3">3 miesiące<p>Abonament na 3 miesiące</p></span>
				<span class="price-td tr3">159,99 zł<p>63,33 zł / mc</p></span>

				<span class="price-th-s th6">6 miesięcy<p>Abonament na 6 miesięcy</p></span>
				<span class="price-td tr3">299,99 zł<p>49,99 zł / mc</p></span>
			
				<span class="price-th-s th12">12 miesięcy<p>Abonament na 12 miesięcy</p></span>
				<span class="price-td tr12">479,99 zł<p>39,99 zł / mc</p></span>	


				<span class="price-th price-title">Cennik</span>
				<span class="price-th">Dieta</span>

				<span class="price-th-s th1">1 miesiąc<p>Abonament na 1 miesiąc</p></span>
				<span class="price-td tr1">89,99 zł</span>

				<span class="price-th-s th3">3 miesiące<p>Abonament na 3 miesiące</p></span>
				<span class="price-td tr3">159,99 zł<p>63,33 zł / mc</p></span>

				<span class="price-th-s th6">6 miesięcy<p>Abonament na 6 miesięcy</p></span>
				<span class="price-td tr3">299,99 zł<p>49,99 zł / mc</p></span>
			
				<span class="price-th-s th12">12 miesięcy<p>Abonament na 12 miesięcy</p></span>
				<span class="price-td tr12">479,99 zł<p>39,99 zł / mc</p></span>	


				<span class="price-th price-title">Cennik</span>
				<span class="price-th">Plan treningowy</span>

				<span class="price-th-s th1">1 miesiąc<p>Abonament na 1 miesiąc</p></span>
				<span class="price-td tr1">89,99 zł</span>

				<span class="price-th-s th3">3 miesiące<p>Abonament na 3 miesiące</p></span>
				<span class="price-td tr3">159,99 zł<p>63,33 zł / mc</p></span>

				<span class="price-th-s th6">6 miesięcy<p>Abonament na 6 miesięcy</p></span>
				<span class="price-td tr3">299,99 zł<p>49,99 zł / mc</p></span>
			
				<span class="price-th-s th12">12 miesięcy<p>Abonament na 12 miesięcy</p></span>
				<span class="price-td tr12">479,99 zł<p>39,99 zł / mc</p></span>	

			</div>
		</div>

		<div id="how" class="how">
			<div class="how-text-container">
				<h2 class="how__title">Jak to działa?</h2>
				<h3 class="how__body">Nasz proces składa się z czterech prostych kroków.</h3>
			</div>

			<div class="how__box-container">
				<div class="how__box">
					<div class="how__box-number">1</div>
					<div class="how__box-img"><img src="{% static 'img/how-icon-a.png' %}" alt="ikona - wybierz indywidualny plan dietetyczny / plan treningowy"></div>
					<h3 class="how__box-title">Wybierz swój plan i cele</h3>
					<h4 class="how__box-text">Wypełnij formularz kontaktowy znajdujący się niżej. Wybierz plan i okres.</h4>
				</div>

				<div class="how__box">
					<div class="how__box-number">2</div>
					<div class="how__box-img"><img src="{% static 'img/how-icon-b.png' %}" alt="ikona - opłać abonament"></div>
					<h3 class="how__box-title">Opłać abonament</h3>
					<h4 class="how__box-text">Ureguluj rachunek, który wyślemy do Ciebie na podany adres e-mail po sprawdzeniu dostępności naszych ekspertów. Będziesz mógł zrobić to przy pomocy przelewu elektronicznego, pocztowego lub płacąc kartą płatniczą.</h4>
				</div>

				<div class="how__box">
					<div class="how__box-number">3</div>
					<div class="how__box-img"><img src="{% static 'img/how-icon-c.png' %}" alt="ikona - wypełnij formularz kontaktowy"></div>
					<h3 class="how__box-title">Wypełnij kwestionariusz</h3>
					<h4 class="how__box-text">Wyślemy do Ciebie formularz do wypełnienia - na podstawie tych danych, wymiarów i celów będzie przygotowywany indywidualny plan specjalnie pod Ciebie.</h4>
				</div>

				<div class="how__box">
					<div class="how__box-number">4</div>
					<div class="how__box-img"><img src="{% static 'img/how-icon-d.png' %}" alt="ikonaj - czekaj na ułożenie indywidualnego planu dietetycznego / planu treningowego"></div>
					<h3 class="how__box-title">Czekaj na przygotowanie planu</h3>
					<h4 class="how__box-text">Plan zwykle gotowy jest w ciągu 24 godzin od zaksięgowania wpłaty. Po otrzymaniu indywidualnego palnu możesz zabierać się do pracy.</h4>
				</div>
			</div>
		</div>



		<div id="contact" class="contact">
			<div class="contact-text-container">
				<h3 class="contact__title">Kontakt</h2>
				<h4 class="contact__body">Wypełnij formularz. Po sprawdzeniu dostępności ekspertów dostaniesz linka do płatności.</h3>
			</div>

			<form class="form" action="https://formspree.io/trenerindywidualnyonline@gmail.com" method="POST">

				<input type="text" id="name" name="name" placeholder="Imię" required>

				<select class="form-left" id="plan" name="plan" required>
					<option value="planDP1">Dieta + Plan Treningowy - 1 miesiąc</option>
					<option value="planDP3">Dieta + Plan Treningowy - 3 miesiące</option>
					<option value="planDP6">Dieta + Plan Treningowy - 6 miesięcy</option>
					<option value="planDP12">Dieta + Plan Treningowy - 12 miesięcy</option>
					<option value="planD1">Dieta - 1 miesiąc</option>
					<option value="planD3">Dieta - 3 miesiące</option>
					<option value="planD6">Dieta - 6 miesięcy</option>
					<option value="planD12">Dieta - 12 miesięcy</option>
					<option value="planT1">Plan Treningowy - 1 miesiąc</option>
					<option value="planT3">Plan Treningowy - 3 miesiące</option>
					<option value="planT6">Plan Treningowy - 6 miesięcy</option>
					<option value="planT12">Plan Treningowy - 12 miesięcy</option>
				</select>

				<input type="text" id="surname" name="surname" placeholder="Nazwisko" required>


				<select id="target" name="target">
					<option value="planMM">Chcę zbudować masę i powiększyć mięśnie</option>
					<option value="planM">Chcę wyrzeźbić mięśnie</option>
					<option value="planS">Chcę schudnąć</option>
					<option value="planST">Chcę zwiększyć siłę</option>
				</select>


				<input type="text" id="email" name="email" placeholder="E-mail" required>
				<input type="text" id="email_second" name="email_second" placeholder="Powtórz E-mail" required>
				<input type="text" id="phone" name="phone" placeholder="Numer Telefonu">
				

				<!-- <p form-bottom">*Pola wymagane</p> -->
				<input class="button-main button-send form-bottom" type="submit" value="Wyślij">
				
			</div>

		</div>

	</form>


	{% include 'includes/footer.html' %}

</div>


	
</body>
</html>