{% load static %}


<!DOCTYPE html>
<html lang="pl">


<head>
	<title>{% if post.seo_title %}{{ post.seo_title }}{% else %}{{ post.title }}{% endif %} - Trener Indywidualny Online</title>
	
	<meta name="description" content="{% if post.seo_description %}{{ post.seo_description }}{% elif post.description %}{{ post.description }}{% else %}Trener Indywidualny Online to plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową.{% endif %}" />
	<meta name="twitter:title" content="{{ post.title }} - Trener Indywidualny Online">
	<meta property="og:title" content="{% if post.seo_title %}{{ post.seo_title }} {% else %}{{ post.title }}{% endif %}" />
	<meta property="og:description" content="{% if post.seo_description %}{{ post.seo_description }}{% elif post.description %}{{ post.description }}{% else %}Trener Indywidualny Online to plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową.{% endif %}" />
	<meta name="twitter:title" content="{% if post.seo_title %}{{ post.seo_title }}{% else %}{{ post.title }}{% endif %} - Trener Indywidualny Online" />
	<meta name="twitter:description" content="Trener Indywidualny Online - plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową." />
	
	{% include 'includes/head.html' %}

</head>

<body>

<div class="wrapper">
	<header class="top--article">
		<a class="top__logo" href="https://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-big.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		<a class="top__logo-mobile" href="http://www.trenerindywidualnyonline.pl">
			<img src="{% static 'img/logo-small.png' %}" alt="Trener Indywidualny Online logo">
		</a>
		
		{% include 'includes/menu.html' %}

		
	</header>

	<div class="content">
		<div class="article-container">
			<div class="article-newsletter-container">
				<form class="article-newsletter" action="https://formspree.io/trenerindywidualnyonline@gmail.com" method="POST">
					<p class="article-newsletter-body">Zapisz się do Newslettera - bądź na bierząco.</p>
					<!-- <p class="article-newsletter-body article-newsletter-body--mobile">Newsletter</p> -->

					<input type="text" id="email_newsletter" name="email_newsletter" placeholder="E-mail" required>
					

					<!-- <p form-bottom">*Pola wymagane</p> -->
					<input class="button-article-newsletter" type="submit" value="Subskrybuj">
					
				</form>
			</div>
			<div class="article-header">
				<a class="text-link text-link-back" href="{% url 'articles' %}">Wszystkie artykuły</a>
				{% if prev_post %}
				<a class="text-link text-link-back" href="{% url 'post' slug=prev_post.slug %}">Poprzedni</a>
				{% endif %}
				{% if next_post %}
				<a class="text-link text-link-back" href="{% url 'post' slug=next_post.slug %}">Następny</a>
				{% endif %}
			</div>
			<div class="article-post">
				
					<div class="article-post-data">
						<div class="article-post-date">{{ post.publish|date:"d.m.Y" }}</div>
						<div class="article-post-data-social">{% include 'includes/social.html' %}</div>
						<div class="article-post-data-line"></div>
					</div>
					<div class="article-post-content">
						<a class="article-post-title" href="{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>
						{% if post.image %}<img class="article-post-image" src="{{ post.image.url }}" alt="">{% endif %}

						<p class="article-post-meat">
							<div>{{ post.content|safe }}</div>
						</p>
						<a class="text-link text-link-post-bottom" href="{% url 'articles' %}">Zobacz wszystkie artykuły</a>
					</div>
			</div>
			
			<!-- <div class="button-main button-post">Zobacz inne posty!</div>	 -->
					

		</div>

		{% include 'includes/footer.html' %}

	</div>

</div>

	
</body>
</html>