:root {
	--bg-gray: #f2f2f2;
	--bg-light: #f6f1f0;
	--secondary-light: #214bdc;
	--secondar-dark: #1b1d29;
	--highlight: #ffd200;
	/*--highlight: #21bbdc;*/
	--text-light: #8b8b8b;
	--text-highlight: #faecb5;
	/*--text-highlight: #a5f1d1;*/
	/*--text-highlight: #ffd200;*/

}

/*------------------ RESET CSS ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, body, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


/*------------------ CSS ------------------*/

@font-face {
	font-family: hk;
	src: url('../fonts/HKGrotesk-Regular.woff');
	font-weight: normal;
}

@font-face {
	font-family: hk;
	src: url('../fonts/HKGrotesk-Bold.woff');
	font-weight: bold;
}

body {
	font-family: hk, "Lucida Grande", "Helvetica", sans-serif;
	/*font-weight: bold;*/
	line-height: 1.8;
	font-size: 16px;
	color: var(--text-light);
	background: var(--bg-light);
}

a {
	text-decoration: none;
}

svg, svg * {
  pointer-events: none;
}

.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows:auto;
	grid-template-areas:
	"top"
	"content"
	"footer";
	min-height: 100vh;
	width: 100vw;
}

.top {
	grid-area: top;
	height: 100vh;
	background-image: url('../img/hero-image.jpg');
	background-size: cover;
}

.top__logo {
	margin: 50px 0 0 50px;
	float: left;
	width: 50px;
}

.top__logo-mobile {
	display: none;
}

.top__menu {
	display: inline-block;
	float: right;
	margin: 74px 50px 0 0;
}

.top__menu--mobile {
	display: none;
}

.top__menu li {
	display: inline-block;
	margin-left: 10px;
	color: white;	
}

.top__menu li a {
	position: relative;
	color: white;
	font-size: 16px;

	transition-duration: 0.5s;
}


.top__menu li a:hover {
	color: white;
}

.top__menu li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: red;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.top__menu li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


.title-link {
	/*position: relative;*/
	/*text-decoration: none;*/
	/*background-image: linear-gradient(currentColor, currentColor);*/
	/*background-position: 0% 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: 0% 2px;*/
	/*transition: background-size .6s;*/
	transition: .6s;
}

.title-link:hover {
	color: blue;
	transition: .2s;
	/*background-size: 100% 2px;*/
}


.top__container {
	margin: 200px auto auto 50px;
	max-width: 60%;

}

.top__container-slogan-main {
	color: white;
	font-size: 70px;
	line-height: 75px;
}

.top__container-slogan-body {
	color: white;
	font-size: 32px;
	line-height: 42px;
	margin-top: 30px;
}




.button-main {
	background-color: red;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 20px;
	border-radius: 40px;
	display: inline-block;
	border: none;

	transition-duration: 0.5s;
}

.button-main:hover {
	background-color: var(--highlight);
	color: black;
	transition-duration: 0.2s;
}


.button-slogan {
	margin-top: 40px;
}

.button-send {
	max-width: 100px;
}

.benefits {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px) minmax(50px, auto);
	grid-template-rows: auto;
	grid-auto-flow: row;
	margin-top: 50px;
}

.benefits-text-container {
	grid-column: 1 / 6;
	grid-row: 0;
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px) minmax(50px, auto);
	grid-template-rows: auto;
}

.benefits__title {
	font-size: 55px;
	font-weight: bold;
	line-height: 66px;
	color: black;
	grid-column: 2 / 3;
}

.benefits__body {
	background-color: var(--secondary-light);
	grid-column: 3 / 5;
	grid-row: 2 / 3;

}

.benefits__body-text {
	color: white;
	font-size: 16px;
	line-height: 28px;
	padding: 20px 50px 20px 50px;
}

.benefits__benefit-a {
	grid-column: 2 / 5;
	grid-row: 2;
	
	display: grid;
	grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
}

.benefits__benefit-a-img {
	
	background-image: url('../img/benefits-a.jpg');
	background-size: cover;
	min-height: 300px;

	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.benefits__benefit-a-number {
	font-size: 12px;
	color: black;

	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 25px 0 0 25px;
}

.benefits__benefit-a-title {
	font-size: 42px;
	font-weight: bold;
	line-height: 46px;
	color: black;
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	margin: 20px 50px 0 50px;
}

.benefits__benefit-a-text {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	margin: 40px 50px 50px 50px;
}

.benefits__benefit-b {
	grid-column: 2 / 5;
	grid-row: 3;

	display: grid;
	grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
}

.benefits__benefit-b-img {

	background-image: url('../img/benefits-b.jpg');
	background-size: cover;
	min-height: 300px;

	grid-column: 3 / 4;
	grid-row: 1 / 4;
}

.benefits__benefit-b-number {
	font-size: 12px;
	color: black;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 25px 0 0 25px;
}

.benefits__benefit-b-title {
	font-size: 42px;
	font-weight: bold;
	line-height: 46px;
	color: black;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	margin: 20px 50px 0 50px;
}

.benefits__benefit-b-text {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	margin: 40px 50px 50px 50px;
}

.benefits__benefit-c {
	grid-column: 2 / 5;
	grid-row: 4;
	display: grid;
	grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
}

.benefits__benefit-c-img {
	background-image: url('../img/benefits-c.jpg');
	background-size: cover;
	min-height: 300px;

	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.benefits__benefit-c-number {
	font-size: 12px;
	color: black;

	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 25px 0 0 25px;
}

.benefits__benefit-c-title {
	font-size: 42px;
	font-weight: bold;
	line-height: 46px;
	color: black;
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	margin: 20px 50px 0 50px;
}

.benefits__benefit-c-text {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	margin: 40px 50px 50px 50px;
}

.benefits__benefit-d {
	grid-column: 2 / 5;
	grid-row: 5;
	display: grid;
	grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
}

.benefits__benefit-d-img {
	
	background-image: url('../img/benefits-d.jpg');
	background-size: cover;
	min-height: 300px;

	grid-column: 3 / 4;
	grid-row: 1 / 4;
}

.benefits__benefit-d-number {
	font-size: 12px;
	color: black;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 25px 0 0 25px;
}

.benefits__benefit-d-title {
	font-size: 42px;
	font-weight: bold;
	line-height: 46px;
	color: black;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	margin: 20px 50px 0 50px;
}

.benefits__benefit-d-text {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	margin: 40px 50px 50px 50px;
}

.how {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(500px, 1200px) minmax(50px, auto);
	grid-template-rows: auto;
	grid-template-areas:
	"how-left how-text how-right"
	"how-left how-container how-right";
	margin-top: 50px;
}

.how-text-container {
	grid-area: how-text;
}

.how__title {
	font-size: 55px;
	font-weight: bold;
	line-height: 66px;
	color: black;
}

.how__body {
	display: block;
	max-width: 70%;
}

.how__box-container {
	grid-area: how-container;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-column-gap: 50px;
	grid-auto-flow: column;
	margin-top: 50px;
}

.how__box-number {
	font-size: 12;
	font-weight: bold;
	color: black;
}

.how__box-title {
	font-size: 36px;
	font-weight: bold;
	line-height: 42px;
	color: black;
	margin-top: 20px;
}

.how__box-text {
	margin-top: 30px;
}

.price {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(500px, 1200px) minmax(50px, auto);
	margin-top: 50px;
}

.price-mobile {
	display: none;
}

.price-table {
	grid-column:  2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 100px);
	align-items: center;
}

.price-th {
	background-color: var(--secondar-dark);
	color: white;
	height: 100px;
	font-size: 22px;
	line-height: 26px;
	display: flex;
	align-items: center;
	padding-left: 20px;	
}

.th1 {
	background-color: #214bdc;
}
.th3 {
	background-color: #355bde;
}
.th6 {
	background-color: #4b6ce0;
}
.th12 {
	background-color: #5f7de3;
}

.tr1 {
	background-color: #f7f9f9;
}
.tr3 {
	background-color: #eceeee;
}
.tr6 {
	background-color: #dfe1e1;
}
.tr12 {
	background-color: #c5c7c7;
}

.price-th-s {
	height: 100px;
	color: white;
	font-size: 36px;
	padding-left: 20px;
}

.price-th-s p {
	padding-left: 5px;
	font-size: 16px;
	color: #1b1d29;
}

.price-td {
	font-weight: bold;
	padding-left: 20px;
	height: 100px;
	font-size: 40px;
	color: black;
}

.price-td p {
	font-size: 16px;
	color: #8b8b8b;
}

.price-title {
	font-size: 55px;
}

.contact {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(500px, 1200px) minmax(50px, auto);
	grid-template-rows: auto auto;
	grid-template-areas:
	"contact-left contact-text contact-right"
	"how-left contact-form how-right";
	margin-top: 50px;
}

.contact-text-container {
	grid-area: contact-text;
}

.contact__title {
	font-size: 55px;
	font-weight: bold;
	color: black;
}

.contact__body {
	display: block;
	max-width: 70%;
}

.form {
	grid-area: contact-form;
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-flow: row;
	grid-column-gap: 50px;
	grid-row-gap: 30px;

	margin-top: 50px;
}

input[type=text] {
	display: block;
	border: none;
	height: 80px;
	font-size: 16px;
	padding-left: 40px;
	color: black;
}

input[type=text]::placeholder {
	color: black;
}

select {
	border: none;
	height: 80px;
	font-size: 16px;
	padding-left: 35px;
	background-color: white;
	border-radius: 0px;
	color: black;

	-webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("../img/arrow-down35p.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.footer {
	display: grid;
	grid-area: footer;
	grid-template-columns: minmax(50px, auto) minmax(500px, 1200px) minmax(50px, auto);
	grid-template-rows: auto;
	grid-template-areas:
	"footer-left footer-content footer-right";
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer__container {
	grid-area: footer-content;
	background-color: var(--secondary-light);
	height: 150px;
	color: white;
}

.footer__container-logo {
	margin-left: 50px;
	margin-top: 45px;
	float: left;
	align-self: center;
}

.footer__container-text {
	margin-right: 50px;
	margin-top: 60px;
	float: right;
}

.top--article {
	height: 180px;
	grid-area: top;
	background-image: url('../img/hero-image.jpg');
	background-size: cover;
}

.article-container {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(500px, 1200px) minmax(50px, auto);
	grid-template-rows: auto;
}

.article-newsletter-container {
	display: grid;
	grid-template-columns: 1fr 800px;
	grid-column: 2;
}

.article-newsletter {
	height: 100px;
	background-color: var(--secondary-light);
	grid-column: 2;

	display: grid;
	grid-template-columns: auto auto auto;


}

.article-newsletter-body {
	margin: auto 40px;
	color: #94a4e7;
	line-height: 22px;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}

.article-newsletter-body--mobile {
	display: none;
}

.article-newsletter input[type=text] {
	display: block;
	border: none;
	height: unset;
	font-size: 16px;
	padding-left: unset;
	
	background: none;
	color: white;
}

.article-newsletter input[type=text]::placeholder {
	color: #94a4e7;
}

input[type=text]::selection {
	color: white;
}

.button-article-newsletter {
	font-size: 16px;
	text-decoration: underline;
	border: none;
	background: none;
	color: white;
	font-weight: bold;
	width: unset;
	padding: 0;
	margin-right: 20px;
}

.article-header {
	font-size: 42px;
	font-weight: bold;
	grid-column: 2;
	color: black;
}

.article-posts {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 800px;
	grid-template-rows: auto;

}

.article-post-data {
	grid-column: 1;
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: auto 1fr;
	margin-top: 30px;

	font-size: 16px;
	color: black;
}

.article-post-date {
}

.article-post-data-line {
	height: 1px;
	background-color: var(--text-light);

	grid-column: 2;
	grid-row: 1;
	margin: 10px 40px 0 40px;
}

.article-post-data-social {
	margin-top: 5px;
}

.article-post-data-social {
	grid-row: 2;
}

.article-post-content {
	grid-column: 2;
}


.article-post-title {
	font-size: 70px;
	font-weight: bold;
	line-height: 80px;
	color: black;
	margin-top: 50px;
}


.article-post-image {
	height: 300px;
}

.article-post-description {
	font-size: 18px;
	line-height: 28px;
	padding: 20px 50px 50px 0px;
}

.pagination {
	margin: auto;
	text-align: center;
	grid-column: 2;
}

.article-post {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 800px;
	grid-template-rows: auto;
}

.article-post-content h2 {
	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
	color: black;

	margin: 40px 0 20px 0;
}

.article-post-content p {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}

.article-post-content strong {
	font-size: 19px;
	font-weight: bold;
	color: black;
}

.article-post-content img {
	width: 100%;
	margin: 20px 0 50px 0;
}

.button-post {
	margin: auto;
	text-align: center;
	grid-column: 2;
}

.text-link {
	color: black;
}

.text-link-back {
	font-size: 16px;
	text-decoration: underline;
}

.text-link:hover {
	color: var(--secondary-light);
	text-decoration: underline;
}

.text-link-back {
	font-size: 16px;
	text-decoration: underline;
}

.text-link-post-bottom {
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
}

.button-pagination {
	margin: 0 3px;
	width: 35px;
	height: 25px;
	padding-left: 0;
	padding-right: 0;
	border: 3px solid var(--secondary-light);
	background-color: unset;
}

.button-pagination:hover {
	background: var(--secondary-light);
}


.text-highlight {
	background: var(--text-highlight);
	color: black;
}


/*------------------ CORRECTOR CSS ------------------*/

.corrector-button {
	position: fixed;
	right: 10px;
	bottom: 50px;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #A8ADB1FF;
	writing-mode: vertical-rl;
}

.corrector-button:hover {
	color: red;
	transition: 500ms;
}

.corrector-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: opacity 500ms;
	visibility: hidden;
	opacity:0;
}

.corrector-overlay:target {
	visibility: visible;
	opacity: 1;
}

.corrector-form {
	width: 60%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	background: red;
}

.corrector-form input {
	width: 100%;
}

.corrector-close {
	font-size: 100px;
	color: red;
	position: fixed;
	right: 50px;
	top: 50px;
}






