{% load static %}

	<meta charset="UTF-8">
	<meta name="keywords" content="dieta, plan dietetyczny, plan terningowy, tener indywidualny, rozpiski diety, rozpiski treningów, trener indywidualny online, odchudzanie">
	<meta name="description" content="Trener Indywidualny Online to plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową">
	
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.ico' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="x-apple-disable-message-reformatting" />

	<meta name="referrer" content="origin">
	<meta http-equiv="Content-Language" content="pl-PL">
	<meta name="google" value="notranslate">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="cleartype" content="on">
	<meta name="HandheldFriendly" content="true">
	<meta name="robots" content="index,follow">
	<!-- <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" /> -->
	<!-- bing seo -->
	<meta name="geo.placename" content="Poland" />
	<meta name="geo.position" content="52.2297;210122" />
	<meta name="geo.region" content="poland" />
	<meta name="ICBM" content="x,x" />

	<!-- social -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Trener Indywidualny Online - indywidualne plany dietetyczne i plany treningowe." />
	<meta property="og:image" content="http://trenerindywidualnyonline.com/img/sharesocial.jpg" />
	<meta property="og:site_name" content="Site" />
	<meta property="og:description" content="Trener Indywidualny Online - plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową." />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@trenerindywidualny" />
	<meta name="twitter:creator" content="@trenerindywidualny" />
	<meta name="twitter:title" content="Trener Indywidualny Online" />
	<meta name="twitter:description" content="Trener Indywidualny Online - plany dietetyczne i treningowe, które pomagają schudnąć, zbudować masę mięśniową." />
	<meta name="twitter:image:src" content="http://trenerindywidualnyonline.pl/img/sharesocial.jpg" />


	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style-mobile.css' %}">

			<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131435642-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-131435642-1');
	</script>