{% load static %}

<div class="top__menu">
	<ul>
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'home' %}#zalety">Zalety</a></li>
		<li><a href="{% url 'home' %}#cennik">Cennik</a></li>
		<li><a href="{% url 'home' %}#jak">Jak To Działa?</a></li>
		<li><a href="{% url 'home' %}#kontakt">Zamów</a></li>
		<li><a href="{% url 'articles' %}">Artykuły</a></li>
	</ul>
</div>

<div class="top__menu top__menu--mobile">
	<ul>
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'home' %}#kontakt">Zamów</a></li>
		<li><a href="{% url 'articles' %}">Artykuły</a></li>
	</ul>
</div>