{% load static %}

<div class="pagination" role="navigation">
	{% if posts.has_previous %}
		<a 	href="?page=1"
				class="button-main button-pagination">
				<img src="{% static 'img/arrow-first.png' %}" alt="pierwsza strona">
		</a>
		<a 	href="?page={{ posts.previous_page_number }}"
				class="button-main button-pagination">
				<img src="{% static 'img/arrow-prev.png' %}" alt="poprzednia strona">
		</a>
	{% endif %}

	<span class="pagination-current"> Page <b>{{ post.number }}</b> of {{ posts.paginator.num_pages }}.</span>

	{% if posts.has_next %}
		<a 	href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
				class="button-main button-pagination">
				<img src="{% static 'img/arrow-next.png' %}" alt="następna strona">
		</a>
		<a 	href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
				class="button-main button-pagination">
				<img src="{% static 'img/arrow-last.png' %}" alt="następna strona">
		</a>
	{% endif %}

</div>